<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compose tweet 2</title>
    <link rel="stylesheet" href="/dist/output.css">
</head>
<body class="bg-neutral-1000 text-neutral-50 m-5 p-5 w-[390px] flex flex-col justify-between h-[868px]">
    <header class="flex justify-between items-center px-3">
        <img src="/public/images/exit-cross.svg">
        <button class="text-neutral-50 bg-twitter-blue hover:bg-twitter-blue-hover text-center justify-center font-inter text-16 font-bold  px-6 py-3 rounded-3.2xl ">Post</button>
    </header>
    <main class="">
        <div class="flex gap-3 px-4 py-2">
            <img src="/public/images/" alt="">
            <input type="text" value="Don't just wish for it, work for it" class="outline-none bg-neutral-1000 text-neutral-50 w-full ">
            <!-- Need to figurre out how to make the excess text wrap to the next line? -->
        </div>
    </main>
    <footer class="flex items-center py-3 px-4 border-t border-solid border-neutral-800">
        <p class="text-neutral-500 font-normal text-sm mt-auto">31/280</p>
        <!-- Need to make footer move to the bottom. Flex and margin didn't work -->
    </footer>
</body>
</html>
