<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compose</title>
    <link rel="stylesheet" href="/dist/output.css">
</head>
<body class="bg-neutral-1000 text-neutral-50 w m-5 p-5 w-[390px]">
    <header class="flex justify-between items-center px-3">
        <img src="/public/images/exit-cross.svg">
        <button disabled class="text-neutral-50 bg-twitter-blue hover:bg-twitter-blue-hover text-center justify-center font-inter text-16 font-bold  px-6 py-3 rounded-3.2xl disabled:opacity-25 disabled:bg-twitter-blue-disabled disabled:pointer-events-none">Post</button>
    </header>
    <main>
        <div class=" flex gap-3 px-4 py-2">
            <img src="/public/images/" alt="">
            <input type="text" placeholder="What's happening?" class="outline-none bg-neutral-1000 text-neutral-600">
        </div>
    
    </main>
    
</body>
</html>