<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Step 2</title>
    <link rel="stylesheet" href="/dist/output.css">
</head>
<body class="bg-neutral-1000 flex flex-col justify-center text-neutral-50 pl-4">
    <header class="flex self-start gap-5 mt-5">
        <img src="/public/images/exit-cross.svg">
        <p class="font-bold text-base font-inter">Step 2 of 4</p>
    </header>

    <main class="flex flex-col gap-y-5 mt-8">
        <h1 class="text-2xl font-bold">Create your account</h1>
        <fieldset class="w-[360px] h-14 rounded-esm ml-4 border border-solid border-twitter-blue text-neutral-500 self-start px-3">
            <legend class="text-twitter-blue px-1 font-inter">Name</legend>
            <input type="text" value="Apoorv Goyal" class="bg-neutral-1000 outline-none text-neutral-50">

        </fieldset>

        <fieldset class="w-[360px] h-14 rounded-esm ml-4 border border-solid border-neutral-500 text-neutral-500 self-start px-3">
            <legend class="text-neutral-500 px-1 font-inter">Email</legend>
            <input type="email" value="apoorvgoyal1212@gmail.com" class="bg-neutral-1000 outline-none text-neutral-50">
        </fieldset>
        <!-- Need to span the input field throughout   -->
        <fieldset class="w-[360px] h-14 rounded-esm ml-4 border border-solid border-neutral-500 text-neutral-500 self-start px-3">
            <legend class="text-neutral-500 px-1 font-inter">Email</legend>
            <input type="date" value="1st April 2002" class="bg-neutral-1000 outline-none text-neutral-50">
        </fieldset>
    </main>
    
    <footer class="flex items-center mt-32">
        <button class="flex justify-center items-center bg-twitter-blue shadow-3xl rounded-4xl w-80 h-9 ml-9 py-2 px-6 gap-2 backdrop-blur-xl text-neutral-50">
            Sign up
        </button>
    </footer>
    <!-- Fieldsets are not aligned with the heading  -->
</body>
</html>