<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/dist/output.css">
</head>
<body class="bg-neutral-1000 text-neutral-50 w-[390px] flex flex-col justify-center h-full">
    <header class="px-3 flex gap-5   mt-5">
        <img src="/public/images/exit-cross.svg">
        <p class="font-bold text-base">Step 1 of 4</p>
    </header>

    <main class="flex flex-col gap-y-5">
        <p class="font-bold text-2xl ml-4 mt-4">Create your account</p>
        <fieldset class="flex flex-col items-center gap-2.5 self-stretch w-[360px] h-14 rounded-esm ml-4 border border-solid border-twitter-blue text-neutral-500">
            <legend class="text-twitter-blue px-1">Name</legend>
            <input type="text" value="Apoorv" class="outline-none bg-neutral-1000">    
        </fieldset>

        <fieldset class="flex flex-col items-center gap-2.5 self-stretch w-[360px] h-14 rounded-esm ml-4 border border-solid border-neutral-500 text-neutral-500 bg-neutral-1000">
            <legend class="text-neutral-500 px-1">Email</legend>
            <input type="text" placeholder="Email" class="outline-none bg-neutral-1000">    
        </fieldset>
        <div class="flex flex-col items-start gap-y-1 ml-4"> 
            <p class="text-neutral-50 text-base font-bold font-inter">Date of birth</p>
            <p class="font-inter font-normal text-sm text-neutral-500">This will not be shown publicly. Confirm your own age, even if this account is for a business, a pet, or something else.</p>
        </div>

        <div class="flex ml-6 gap-3">
            <fieldset class="flex w-36 h-14 items-center self-stretch px-4 py-3 rounded border border-solid border-neutral-500">
              <legend class="px-1 text-sm">Month</legend>   
              <select class=" w-full flex bg-neutral-1000 font-inter text-sm  placeholder:bg-neutral-500 focus-within:outline-none">
                <option value="January">January</option>
                <option value="February">February</option>
                <option value="March">March</option>
                <option value="April">April</option>
                <option value="May">May</option>
                <option value="June">June</option>
                <option value="July">July</option>
                <option value="August">August</option>
                <option value="September">Septemeber</option>
                <option value="October">October</option>
                <option value="November">November</option>
                <option value="December">December</option>
              </select>
            </fieldset>
            <fieldset class="w-20 h-14 flex justify-between items-center px-4 py-3 rounded border border-solid border-neutral-500">
                <legend class="px-1 text-sm">Date</legend>
                <select class=" w-full flex bg-neutral-1000 font-inter text-sm  placeholder:bg-neutral-500 focus-within:outline-none">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
               </select>
            </fieldset>
            <fieldset class="w-20 h-14 flex justify-between items-center px-4 py-3 rounded border border-solid border-neutral-500">
                <legend class="px-1 text-sm">Year</legend>
                <select class=" w-full flex bg-neutral-1000 font-inter text-sm  placeholder:bg-neutral-500 focus-within:outline-none">
                    <option value="1990">1990</option>
                    <option value="1991">1991</option>
                    <option value="1992">1992</option>
                    <option value="1993">1993</option>
                    <option value="1994">1994</option>
                    <option value="1995">1995</option>
                    <option value="1996">1996</option>
                    <option value="1997">1997</option>
                    <option value="1998">1998</option>
                    <option value="1999">1999</option>
                    <option value="2000">2000</option>
                    <option value="2001">2001</option>
                    <option value="2002">2002</option>
                    <option value="2003">2003</option>
                    <option value="2004">2004</option>
                    <option value="2005">2005</option>
                    <option value="2006">2006</option>
                    <option value="2007">2007</option>
                    <option value="2008">2008</option>
                    <option value="2009">2009</option>
                    <option value="2010">2010</option>
                    <option value="2011">2011</option>
                </select>
            </fieldset>
        </div>
    </main>
     <footer class=" flex justify-center mt-32">
        <button class="w-80 justify-center rounded-4xl py-2 px-6 bg-neutral-50 text-neutral-1000 backdrop:blur-3xl shadow-3xl font-bold text-center hover:bg-neutral-200">Create account</button>
     </footer>
    
</body>
</html>