<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Step 4</title>
    <link rel="stylesheet" href="/dist/output.css">
</head>
<body class="bg-neutral-1000 flex flex-col justify-center text-neutral-50 ml-4">
    <header class="flex self-start gap-5 mt-5">
        <img src="/public/images/exit-cross.svg">
        <p class="font-bold text-base">Step 3 of 4</p>
    </header>

    <main class="flex flex-col mt-8 self-start">
        <h1 class="text-2xl font-bold ">You'll need a need a passsword</h1>
        <p class="text-neutral-500  text-sm font-normal leading-normal
        ">Make sure its 8 characters or more</p>
        <fieldset class="flex justify-between w-88 h-14 py-4 px-3 items-center gap-2.5 rounded-esm ml-4 mt-5 border border-solid border-twitter-blue text-neutral-500 bg-neutral-1000">
            <legend class="text-twitter-blue">Password</legend>
            <input type="text" placeholder="Password" class="bg-neutral-1000 outline-none text-neutral-500">
        </fieldset>
    </main>
    <footer class="flex flex-col mt-52">
        <button disabled class="w-96 flex justify-center rounded-4xl py-3 px-6  bg-neutral-50 text-neutral-1000 backdrop:blur-3xl shadow-3xl  font-bold text-center hover:bg-neutral-200 mb-8 disabled:opacity-25 disabled:bg-neutral-500 disabled:pointer-events-none">Next</button>
    </footer>
    <!-- Fieldsets are not aligned with the heading  -->
    <!-- Next button seems too large and doesn't fit -->
    
</body>
</html>